.listing-header {
  padding: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--header-color);
  position: fixed;
  width: 30%;
  z-index: 50;
}

.listing-header__button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.listing-header__title {
  font-size: 1.8rem;
}

.listing-header__button {
  font-size: 1.3rem;
  padding: 0.7rem 0.7rem;
  text-align: center;
}
